.card-image{
    height: 100%;
}
.card-content{
    padding: 12px !important;
}
.card.horizontal{
    height: 200px;
    width: 303px;
}
.img-prod{
    height: 100%;
}
.btn-categories{
    
    /* top: -12px;
    right: -12px;
    float: right; */
    background-color: #ffffff !important;
    border: 2px solid #7DCA28 !important;
    color: #545454 !important;
    border-radius: 10.5px !important;
    font-size: 12px !important;
    text-align: left !important;
    font-weight: 500 !important;
    font-family: 'Roboto', sans-serif;
}
.price{
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    font-style: normal;
}
.description{
    text-align: left;
    font-weight: 500 !important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10% !important;

}
.place{
    text-align: center;
    margin: 0 !important;
    color: #979797 !important;
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;

}
.card-action{
    padding: 0;
}
.tag-contain{
    text-align: left;
}

